{% extends 'base.html.twig' %}

{% block content %}

{% endblock %}

{% macro _debug_csrf() %}
    <div data-debug-form-target="debugCsrf">
        <label>foo_bar[_token]</label>
        <input type="text" readonly disabled />
    </div>
    <div data-debug-form-target="debugCsrfValue">
        <label>data-</label>
        <input type="text" readonly disabled />
    </div>
    <div data-debug-form-target="debugCookie">
        <label>foo_bar[_token]</label>
        <input type="text" readonly disabled />
    </div>
    <div data-debug-form-target="debugCookieValue">
        <label>foo_bar[_token]</label>
        <input type="text" readonly disabled  />
    </div>
{% endmacro %}


